<div>
  <div *ngIf="showSpinner">
    <ion-spinner
      *ngIf="showSpinner"
      class="d-flex m-auto m-t-30"
      name="bubbles"
    ></ion-spinner>
  </div>
  <div *ngIf="!showSpinner" class="container">
    <div class="background">
      <div @fadeAnimation class="overview p-x-30" *ngIf="showOverview">
        <div class="overview-text">
          {{ film?.overview }}
        </div>
        <ion-icon
          class="overview-button"
          size="large"
          name="chevron-down-circle"
          (click)="setShowOverview(false)"
        ></ion-icon>
      </div>

      <div @fadeAnimation class="title p-x-30" *ngIf="showOverview === false">
        <div class="title-text">
          {{ film?.title }}
        </div>
        <ion-icon
          class="overview-button"
          size="large"
          name="chevron-up-circle"
          (click)="setShowOverview(true)"
        ></ion-icon>
      </div>
    </div>

    <img [src]="'https://image.tmdb.org/t/p/original' + film?.poster_path" />
  </div>
</div>
