<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="navigateBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="h100 d-flex">
    <div class="m-auto d-flex d-c-flex form-buttons-container">
      <ion-button routerLink="fast" fill="outline">Fast Match</ion-button>
      <ion-button routerLink="custom" fill="outline" [disabled]="true"
        >Custom Match</ion-button
      >
    </div>
  </div>

  <!-- ion-slides!!! -->
</ion-content>
