<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="navigateBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="h100 d-flex">
    <div class="m-auto w100">
      <div
        *ngIf="registerSentSuccessfully$ | async; else registration"
        class="container"
      >
        <div class="d-flex d-center m-b-20">
          The confirmation email was sent
        </div>
        <div class="d-flex d-center m-b-20">Please check your email</div>
        <ion-button
          [routerLink]="['/login']"
          size="large"
          expand="block"
          fill="solid"
          >Login</ion-button
        >
      </div>
    </div>
  </div>

  <ng-template #registration>
    <form [formGroup]="registrationForm" class="m-b-40">
      <ion-item lines="full">
        <ion-label
          [color]="isControlInvalid('userName') ? 'danger' : 'dark'"
          position="floating"
          >User name
          {{
            isControlInvalid("userName") ? getErrorMessage("userName") : ""
          }}</ion-label
        >
        <ion-input formControlName="userName" type="text"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label
          [color]="isControlInvalid('email') ? 'danger' : 'dark'"
          position="floating"
          >Email
          {{
            isControlInvalid("email") ? getErrorMessage("email") : ""
          }}</ion-label
        >
        <ion-input formControlName="email" type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label
          [color]="isControlInvalid('firstName') ? 'danger' : 'dark'"
          position="floating"
          >First name
          {{
            isControlInvalid("firstName") ? getErrorMessage("firstName") : ""
          }}</ion-label
        >
        <ion-input formControlName="firstName" type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label
          [color]="isControlInvalid('lastName') ? 'danger' : 'dark'"
          position="floating"
          >Last name
          {{
            isControlInvalid("lastName") ? getErrorMessage("lastName") : ""
          }}</ion-label
        >
        <ion-input formControlName="lastName" type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label
          [color]="isControlInvalid('password') ? 'danger' : 'dark'"
          position="floating"
          >Password
          {{
            isControlInvalid("password") ? getErrorMessage("password") : ""
          }}</ion-label
        >

        <div class="d-flex w100 password-container">
          <ion-input
            [type]="shopPassword ? 'text' : 'password'"
            formControlName="password"
            required
          ></ion-input>
          <ion-icon
            class="password-icon"
            [name]="shopPassword ? 'eye-off-outline' : 'eye-outline'"
            (click)="shopPassword = !shopPassword"
          ></ion-icon>
        </div>
      </ion-item>
      <ion-item lines="full">
        <ion-label
          [color]="isControlInvalid('passwordConfirm') ? 'danger' : 'dark'"
          position="floating"
          >Confirm password
          {{
            isControlInvalid("passwordConfirm")
              ? getErrorMessage("passwordConfirm")
              : ""
          }}</ion-label
        >

        <div class="d-flex w100 password-container">
          <ion-input
            [type]="shopPasswordConfirm ? 'text' : 'password'"
            formControlName="passwordConfirm"
            required
          ></ion-input>
          <ion-icon
            class="password-icon"
            [name]="shopPasswordConfirm ? 'eye-off-outline' : 'eye-outline'"
            (click)="shopPasswordConfirm = !shopPasswordConfirm"
          ></ion-icon>
        </div>
      </ion-item>
    </form>
    <ion-button
      class="d-flex"
      [disabled]="registrationForm.invalid && passwordConfirmControl.value"
      (click)="registerClicked$.next()"
      >Register</ion-button
    >
    <div *ngIf="showSpinner$ | async" class="m-t-20">
      <ion-spinner class="d-flex m-auto" name="bubbles"></ion-spinner>
    </div>
  </ng-template>
</ion-content>
