<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        (click)="navigateBack()"
        [defaultHref]="''"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="registrationForm">
    <ion-item lines="full">
      <ion-label
        [color]="isControlInvalid('userName') ? 'danger' : 'dark'"
        position="floating"
        >User name
        {{
          isControlInvalid("userName") ? getErrorMessage("userName") : ""
        }}</ion-label
      >
      <ion-input formControlName="userName" type="text"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label
        [color]="isControlInvalid('email') ? 'danger' : 'dark'"
        position="floating"
        >Email
        {{
          isControlInvalid("email") ? getErrorMessage("email") : ""
        }}</ion-label
      >
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label
        [color]="isControlInvalid('firstName') ? 'danger' : 'dark'"
        position="floating"
        >First name
        {{
          isControlInvalid("firstName") ? getErrorMessage("firstName") : ""
        }}</ion-label
      >
      <ion-input formControlName="firstName" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label
        [color]="isControlInvalid('lastName') ? 'danger' : 'dark'"
        position="floating"
        >Last name
        {{
          isControlInvalid("lastName") ? getErrorMessage("lastName") : ""
        }}</ion-label
      >
      <ion-input formControlName="lastName" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label
        [color]="isControlInvalid('password') ? 'danger' : 'dark'"
        position="floating"
        >Password</ion-label
      >
      <ion-input
        type="password"
        formControlName="password"
        required
      ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label
        [color]="isControlInvalid('passwordConfirm') ? 'danger' : 'dark'"
        type="password"
        position="floating"
        >Confirm password{{ passwordsMissMatch ? "mismatch" : "" }}</ion-label
      >
      <ion-input
        formControlName="passwordConfirm"
        type="text"
        (input)="onPasswordInput(passwordConfirmVal)"
        #passwordConfirmVal
      ></ion-input>
    </ion-item>

    <!-- 
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">DOB</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Mobile</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>


    <ion-radio-group lines="full">
      <ion-list-header>
        <ion-label>Gender</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio slot="start" value="male" checked></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio slot="start" value="female"></ion-radio>
      </ion-item>
    </ion-radio-group>


    <ion-list lines="full">
      <ion-list-header>
        <ion-label>Subjects</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>English</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Maths</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Science</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>History</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block"
          >Submit</ion-button
        >
      </ion-col>
    </ion-row> -->
  </form>
</ion-content>
