<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="navigateBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <filmder-matches-list
    [matches]="pendingMatchSessions$ | async"
    [allowDeletion]="true"
    (itemClicked)="matchClicked($event)"
    (itemDeleted)="matchDeleted($event)"
  >
  </filmder-matches-list>
  <!-- <filmder-matches-table
    [matchSessionsListTypes]="matchSessionsListTypes.Pending"
    [matches]="selectPendingMatchSessions$ | async"
    (matchDeclined)="matchDeclined($event)"
  ></filmder-matches-table> -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
</ion-content>
