<ion-content class="pick-film-container">
  <!-- <ng-container
    *ngIf="(selectCurrentMatchSession$ | async)?.completed; else pickFilmScreen"
  >
    <div class="p-t-30 d-flex d-center">
      <ion-chip color="danger">
        <ion-icon name="ribbon-outline"></ion-icon>
        <ion-label>Yay! Session completed</ion-label>
      </ion-chip>
    </div>
    <filmder-matched-films-summary [matchedMovies]="matchedMovies$ | async">
    </filmder-matched-films-summary>

    <ion-fab class="exit-fab">
      <ion-fab-button>
        <ion-icon name="close" routerLink="/tabs/tab2"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container> -->

  <!-- <ng-template #pickFilmScreen> -->
  <div class="pick-card" #pickCard style="height: 100wh">
    <filmder-film-card [film]="currentFilm$ | async"></filmder-film-card>
  </div>
  <!-- </ng-template> -->

  <!-- <div
    *ngIf="!(selectCurrentMatchSession$ | async)?.completed"
    class="matches-counter w100 d-flex d-center"
  >
    <div class="d-flex d-middle d-center">
      <ion-button
        size="large"
        color="primary"
        (click)="openMatchedFilmsDialog$.next()"
      >
        <ng-container
          *ngIf="
            selectCurrentMatchSession$ | async as selectCurrentMatchSession
          "
        >
          <ion-label>
            <b>
              {{ selectCurrentMatchSession.matchedMoviesJSON.length }}/{{
                selectCurrentMatchSession.matchLimit
              }}
            </b></ion-label
          >
        </ng-container>
      </ion-button>
    </div>
  </div> -->

  <filmder-toast [duration]="4000"></filmder-toast>
</ion-content>
