ion-card {
  border: 7px solid white;
}

.pick-film-container {
  position: relative;

  .matches-counter {
    position: absolute;
    bottom: 3rem;
  }
}

.exit-fab {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
