<div class="d-flex">
  <div class="m-auto d-flex d-c-flex d-between modal-content">
    <div>
      <h3><b>Match Details</b></h3>
      <div class="p-b-30" *ngIf="!matchedMovies.length">
        {{ accepted ? "Invite accepted" : "Waiting for opponent" }}
      </div>
      <div class="p-b-10"><b>Host:</b> {{ host }}</div>
      <div class="p-b-10"><b>Guest:</b> {{ guest }}</div>
      <div class="p-b-10"><b>Category:</b> {{ category | startCase }}</div>
      <div class="p-b-10"><b>Matches limit:</b> {{ matchLimit }}</div>
      <div><b>Matched films</b></div>
      <div>
        <div *ngFor="let film of matchedMovies; let i = index">
          <div>{{ i + 1 }}. {{ film.title }}</div>
        </div>
      </div>
    </div>

    <div class="p-b-40">
      <ng-container *ngIf="displayMode === matchDetailsDisplayMode.Continue">
        <ion-button
          (click)="closeModal(matchDetailsModalActions.Continue)"
          size="large"
          expand="block"
          fill="clear"
          >Continue</ion-button
        >
        <ion-button
          (click)="closeModal(matchDetailsModalActions.Decline)"
          size="large"
          expand="block"
          fill="clear"
          >Leave session</ion-button
        >
      </ng-container>
      <ng-container *ngIf="displayMode === matchDetailsDisplayMode.Accept">
        <ion-button
          (click)="closeModal(matchDetailsModalActions.Accept)"
          size="large"
          expand="block"
          fill="clear"
          >Accept</ion-button
        >
        <ion-button
          (click)="closeModal(matchDetailsModalActions.Decline)"
          size="large"
          expand="block"
          fill="clear"
          >Decline</ion-button
        >
      </ng-container>
      <ng-container *ngIf="displayMode === matchDetailsDisplayMode.Info">
        <ion-button
          (click)="closeModal(matchDetailsModalActions.Decline)"
          size="large"
          expand="block"
          fill="clear"
          >Leave session</ion-button
        >
      </ng-container>
      <ng-container *ngIf="displayMode === matchDetailsDisplayMode.Summary">
      </ng-container>

      <!-- <ion-button
        
        size="medium"
        expand="block"
        fill="outline"
        >Close</ion-button
      > -->

      <ion-icon
        class="w100 d-flex d-center"
        size="large"
        (click)="closeModal(matchDetailsModalActions.Nothing)"
        name="caret-down-circle"
        color="primary"
      ></ion-icon>
    </div>
  </div>
</div>
