<div class="d-flex">
  <div class="m-auto">
    <h3>Match Details</h3>
    <div>host: {{ host }}</div>
    <div>guest: {{ guest }}</div>
    <div>region: {{ region }}</div>
    <div>category: {{ category | startCase }}</div>
    <div>matchLimit: {{ matchLimit }}</div>
    <div>accepted: {{ accepted }}</div>

    <ng-container *ngIf="displayMode === matchDetailsDisplayMode.Continue">
      <ion-button
        (click)="closeModal(matchDetailsModalActions.Continue)"
        size="large"
        expand="block"
        fill="clear"
        >Continue</ion-button
      >
      <ion-button
        (click)="closeModal(matchDetailsModalActions.Decline)"
        size="large"
        expand="block"
        fill="clear"
        >Leave game</ion-button
      >
    </ng-container>
    <ng-container *ngIf="displayMode === matchDetailsDisplayMode.Accept">
      <ion-button
        (click)="closeModal(matchDetailsModalActions.Accept)"
        size="large"
        expand="block"
        fill="clear"
        >Accept</ion-button
      >
      <ion-button
        (click)="closeModal(matchDetailsModalActions.Decline)"
        size="large"
        expand="block"
        fill="clear"
        >Decline</ion-button
      >
    </ng-container>
    <ng-container *ngIf="displayMode === matchDetailsDisplayMode.Info">
      <ion-button
        (click)="closeModal(matchDetailsModalActions.Nothing)"
        size="large"
        expand="block"
        fill="clear"
        >Back</ion-button
      >
      <ion-button
        (click)="closeModal(matchDetailsModalActions.Decline)"
        size="large"
        expand="block"
        fill="clear"
        >Leave</ion-button
      >
    </ng-container>
  </div>
</div>
