<div class="d-flex">
  <div class="m-auto d-flex d-column d-between modal-content">
    <div class="m-auto">
      <h2 class="ta-c"><b>Match Details</b></h2>
      <div class="ta-c p-b-30">
        <ion-chip *ngIf="completed" color="danger">
          <ion-icon name="ribbon-outline"></ion-icon>
          <ion-label>Session completed</ion-label>
        </ion-chip>

        <ion-chip *ngIf="accepted && !completed" color="success">
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>Invite accepted</ion-label>
        </ion-chip>

        <ion-chip *ngIf="!accepted && !completed" color="warning">
          <ion-icon name="hourglass-outline"></ion-icon>
          <ion-label>Waiting for acceptance</ion-label>
        </ion-chip>
      </div>
      <div class="ta-c p-b-10">
        <b class="fc-grey">Created by: </b>
        <span class="fc-black">{{ host }}</span>
      </div>
      <div class="ta-c p-b-10">
        <b class="fc-grey">Invited: </b>
        <span class="fc-black">{{ guest }}</span>
      </div>
      <div class="ta-c p-b-10">
        <b class="fc-grey">Category: </b>
        <span class="fc-black">{{ category | startCase }}</span>
      </div>
      <div class="fc-grey ta-c p-b-40">
        <b class="fc-grey">Matches limit: </b>
        <span class="fc-black">{{ matchLimit }}</span>
      </div>
    </div>

    <div class="bottom-buttons-container">
      <ng-container *ngIf="displayMode === matchDetailsDisplayMode.Continue">
        <ion-button
          (click)="closeModal(matchDetailsModalActions.Continue)"
          size="large"
          expand="block"
          fill="clear"
          >Continue</ion-button
        >
        <ion-button
          (click)="closeModal(matchDetailsModalActions.Decline)"
          size="large"
          expand="block"
          fill="clear"
          >Leave session</ion-button
        >
      </ng-container>
      <ng-container *ngIf="displayMode === matchDetailsDisplayMode.Accept">
        <ion-button
          (click)="closeModal(matchDetailsModalActions.Accept)"
          size="large"
          expand="block"
          fill="clear"
          >Accept</ion-button
        >
        <ion-button
          (click)="closeModal(matchDetailsModalActions.Decline)"
          size="large"
          expand="block"
          fill="clear"
          >Decline</ion-button
        >
      </ng-container>
      <ng-container *ngIf="displayMode === matchDetailsDisplayMode.Info">
        <ion-button
          (click)="closeModal(matchDetailsModalActions.Decline)"
          size="large"
          expand="block"
          fill="clear"
          >Leave session</ion-button
        >
      </ng-container>
      <ng-container *ngIf="displayMode === matchDetailsDisplayMode.Summary">
        <filmder-matched-films-summary [matchedMovies]="matchedMovies">
        </filmder-matched-films-summary>
      </ng-container>

      <div class="w100 d-flex d-center">
        <ion-fab-button class="close-icon">
          <ion-icon
            size="large"
            (click)="closeModal(matchDetailsModalActions.Nothing)"
            name="chevron-down-circle-outline"
          ></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </div>
</div>
