<ion-list>
  <ion-item-sliding
    *ngFor="let matchSession of matches; trackBy: matchSessionId"
  >
    <ion-item>
      <ion-label>
        Category {{ matchSession.category | startCase }} from
        {{ matchSession.host.userName }}
      </ion-label>
      <span *ngIf="matchSession.id === +activeMatchSessionId">(active)</span>
      <div (click)="openDetailsModal(matchSession)">...</div>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="primary">
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
        Cancel
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<filmder-alert #alertExample></filmder-alert>
