<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="navigateBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="h100 d-flex">
    <div class="m-auto w100">
      <form [formGroup]="loginForm" class="m-b-40">
        <ion-item lines="full">
          <ion-label
            [color]="isControlInvalid('email') ? 'danger' : 'dark'"
            position="floating"
            >Email
            {{
              isControlInvalid("email") ? getErrorMessage("email") : ""
            }}</ion-label
          >
          <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label
            [color]="isControlInvalid('password') ? 'danger' : 'dark'"
            position="floating"
            >Password
            {{
              isControlInvalid("password") ? getErrorMessage("password") : ""
            }}</ion-label
          >
          <div class="d-flex w100 password-container">
            <ion-input
              [type]="shopPassword ? 'text' : 'password'"
              formControlName="password"
            ></ion-input>
            <ion-icon
              class="password-icon"
              [name]="shopPassword ? 'eye-off-outline' : 'eye-outline'"
              (click)="shopPassword = !shopPassword"
            ></ion-icon>
          </div>
        </ion-item>
      </form>

      <ion-button
        class="d-flex"
        [disabled]="loginForm.invalid"
        (click)="loginClicked()"
        >Login</ion-button
      >
    </div>
  </div>

  <div *ngIf="showError$ | async">Invalid Email or Password</div>
  <filmder-toast [position]="'bottom'"></filmder-toast>
</ion-content>
