<ion-tabs>
  <ion-segment scrollable [value]="getSegmentValue()">
    <ion-segment-button routerLink="/tabs/tab1" value="tab1">
      <ion-icon name="list-circle"></ion-icon>
      <ion-badge
        color="warning"
        class="counter"
        *ngIf="(selectInvitesMatchSessions$ | async).length"
        >{{(selectInvitesMatchSessions$ | async).length}}</ion-badge
      >
    </ion-segment-button>
    <ion-segment-button routerLink="/tabs/tab2" value="tab2">
      <ion-icon name="film-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button routerLink="/tabs/tab3" value="tab3">
      <ion-icon name="person-circle"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-tabs>
