<div class="d-flex modal-container">
  <div class="m-auto">
    <div class="d-flex d-column d-middle" *ngIf="source === 'self'">
      <h2>Hey!</h2>
      <div>
        <h3>
          <b>{{ film.title }}</b>
        </h3>
      </div>
      <div>was a match</div>
    </div>
    <div class="d-flex d-column d-middle" *ngIf="source === 'opponent'">
      <h2>Yay!</h2>
      <div>Your partner also picked</div>
      <div>
        <h3>
          <b>{{ film.title }}</b>
        </h3>
      </div>
    </div>
  </div>
</div>
