<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="h100 d-flex">
    <div class="m-auto d-c-flex form-buttons-container">
      <ion-button
        routerLink="current-match"
        [disabled]="!(hasActiveMatches | async)"
        fill="outline"
        >Continue</ion-button
      >
      <ion-button routerLink="create" fill="outline">Create</ion-button>
    </div>
  </div>

  <!-- ion-slides!!! -->
</ion-content>
