<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item routerLink="active">
      <div class="w100 d-flex d-between">
        <span>Active Sessions</span>
        <ion-badge color="medium"
          >{{(activeMatchSessions$ | async)?.length}}</ion-badge
        >
      </div>
    </ion-item>

    <ion-item routerLink="pending">
      <div class="w100 d-flex d-between">
        <span>Waiting for acceptance</span>
        <ion-badge color="medium"
          >{{(selectPendingMatchSessions$ | async)?.length}}</ion-badge
        >
      </div>
    </ion-item>

    <ion-item routerLink="invites">
      <div class="w100 d-flex d-between">
        <span>Invites</span>
        <ng-container
          *ngIf="(guestedMatchSessions$ | async) as guestedMatchSessions"
        >
          <ion-badge
            [color]="guestedMatchSessions.length ? 'primary' : 'medium'"
            >{{(guestedMatchSessions$ | async)?.length}}</ion-badge
          >
        </ng-container>
      </div>
    </ion-item>

    <ion-item routerLink="completed">
      <div class="w100 d-flex d-between">
        <span>Completed Sessions</span>
        <ion-badge color="medium"
          >{{(completedMatchSessions$ | async)?.length}}</ion-badge
        >
      </div>
    </ion-item>
  </ion-list>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
</ion-content>
