<ion-content [fullscreen]="true">
  <div class="d-flex d-r-reverse">
    <ion-fab-button
      (click)="setViewMode(viewModes.Edit)"
      size="small"
      [disabled]="viewMode === viewModes.Edit"
      ><ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </div>

  <div *ngIf="viewMode === viewModes.View; else editForm">
    <ion-item>
      <ion-label style="width: 50%" class="fw-600"> User name </ion-label>
      <ion-label> vlados228 </ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="width: 50%" class="fw-600"> First name </ion-label>
      <ion-label> Vlad </ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="width: 50%" class="fw-600"> Last name </ion-label>
      <ion-label> Babaev </ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="width: 50%" class="fw-600"> Phone </ion-label>
      <ion-label> 89599999585 </ion-label>
    </ion-item>
  </div>

  <ng-template #editForm>
    <form [formGroup]="profileSettingsForm">
      <ion-item>
        <ion-label style="width: 50%" class="fw-600"> User name </ion-label>
        <ion-input type="text" formControlName="userName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="width: 50%" class="fw-600"> First name </ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="width: 50%" class="fw-600"> Last name </ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="width: 50%" class="fw-600"> Phone </ion-label>
        <ion-input type="text" formControlName="phoneNumber"></ion-input>
      </ion-item>
    </form>
  </ng-template>

  <div class="d-flex d-column">
    <ion-button fill="outline">Change email</ion-button>
    <ion-button fill="outline">Change password</ion-button>
  </div>

  <div class="d-flex d-middle complete-buttons-container">
    <ion-button
      (click)="setViewMode(viewModes.View)"
      class="complete-button"
      expand="round"
      fill="outline"
      >Cancel</ion-button
    >
    <ion-button
      (click)="setViewMode(viewModes.View)"
      class="complete-button"
      expand="round"
      >Save</ion-button
    >
  </div>
</ion-content>
