<ion-content [fullscreen]="true">
  <div class="d-flex d-r-reverse">
    <ion-button
      [disabled]="viewMode === viewModes.Edit"
      (click)="setViewMode(viewModes.Edit)"
      size="small"
      fill="outline"
      class="complete-button"
      >edit</ion-button
    >
  </div>

  <div *ngIf="viewMode === viewModes.View; else editForm">
    <ion-item>
      <ion-label class="fw-600"> User name </ion-label>
      <ion-label> {{userNameControl.value}} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="fw-600"> First name </ion-label>
      <ion-label> {{firstNameControl.value}} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="fw-600"> Last name </ion-label>
      <ion-label> {{lastNameControl.value}} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="fw-600"> Email </ion-label>
      <ion-label> {{(user$ | async)?.email}} </ion-label>
    </ion-item>
  </div>

  <ng-template #editForm>
    <form [formGroup]="profileSettingsForm">
      <ion-item>
        <div class="d-flex d-column form-label">
          <ion-label
            [color]="isControlInvalid('userName') ? 'danger' : 'medium'"
            class="fw-600"
          >
            User name
          </ion-label>
          <div>
            {{ isControlInvalid("userName") ? getErrorMessage("userName") : ""
            }}
          </div>
        </div>
        <ion-input type="text" formControlName="userName"></ion-input>
      </ion-item>
      <ion-item>
        <div class="d-flex d-column form-label">
          <ion-label
            [color]="isControlInvalid('firstName') ? 'danger' : 'medium'"
            class="form-label fw-600"
          >
            First name
          </ion-label>
          <div>
            {{ isControlInvalid("firstName") ? getErrorMessage("firstName") : ""
            }}
          </div>
        </div>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <div class="d-flex d-column form-label">
          <ion-label
            [color]="isControlInvalid('lastName') ? 'danger' : 'medium'"
            class="form-label fw-600"
          >
            Last name
          </ion-label>
          <div>
            {{ isControlInvalid("lastName") ? getErrorMessage("lastName") : ""
            }}
          </div>
        </div>

        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="fc-grey fw-600"> Email </ion-label>
        <ion-label>{{(user$ | async).email}}</ion-label>
      </ion-item>
    </form>
  </ng-template>

  <div
    [hidden]="viewMode !== viewModes.Edit"
    class="d-flex d-center complete-buttons-container"
  >
    <ion-button (click)="cancelClicked()" class="complete-button" fill="outline"
      >Cancel</ion-button
    >
    <ion-button
      [disabled]="profileSettingsForm.invalid"
      (click)="saveChanges()"
      class="complete-button"
      >Save</ion-button
    >
  </div>

  <ion-button (click)="logOut()" class="log-out-button">Log out</ion-button>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <filmder-toast></filmder-toast>
</ion-content>
