.form-buttons-container {
  ion-button {
    width: 48%;
  }
}

.complete-buttons-container {
  position: absolute;
  bottom: 8%;
  width: 100%;

  .complete-button {
    width: 40%;
  }
}

.form-label {
  width: 50%;
}
