.form-buttons-container {
  ion-button {
    width: 48%;
  }
}

.complete-buttons-container {
  padding-top: 1rem;

  .complete-button {
    width: 40%;
  }
}

.form-label {
  width: 50%;
}

.log-out-button {
  position: absolute;
  bottom: 5rem;
  right: 0.5rem;
}
