.toast-container {
  z-index: 1000;
  display: none;
  position: absolute;
  width: 100%;

  .content {
    text-align: center;
    margin: auto;
    background: var(--main-red);
    color: white;
    padding: 10px;
    width: 70%;
    // border-radius: 0px 0px 15px 15px;
  }
}
