<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="navigateBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="h100 d-flex">
    <div class="w100 m-auto d-c-flex form-buttons-container">
      <ion-list>
        <ion-list-header>
          <ion-label> Fast game </ion-label>
        </ion-list-header>
        <form [formGroup]="fastMatchForm">
          <ion-item>
            <div class="m-r-10 fw-600">Mode</div>
            <ion-select
              formControlName="gameMode"
              value="brown"
              okText="Okay"
              cancelText="Dismiss"
            >
              <ion-select-option
                *ngFor="let gameMode of gameModes$ | async"
                [value]="gameMode.id"
                >{{ gameMode.name }}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item>
            <div class="m-r-10 fw-600" (click)="regionClicked$.next()">
              Region
            </div>
            <div>{{ (pickedRegion$ | async).text }}</div>
          </ion-item>
          <ion-item>
            <div class="m-r-10 fw-600">Matches limit</div>

            <ion-input
              type="number"
              min="1"
              max="25"
              formControlName="matchLimit"
              placeholder="1-25"
            ></ion-input>
          </ion-item>
          <ion-item>
            <div class="m-r-10 fw-600">Guest username</div>

            <ion-input
              formControlName="guestUsername"
              placeholder="Username"
            ></ion-input>
          </ion-item>
        </form>
      </ion-list>
      <!-- todo: create straightforward validator for disabling the button -->
      <ion-button
        (click)="createGame()"
        [disabled]="
          (fastMatchForm.statusChanges | async) === 'INVALID' ||
          !(pickedRegion$ | async).value
        "
        >Create
      </ion-button>
    </div>
  </div>
  <filmder-picker></filmder-picker>
</ion-content>
