.created-successfully-container {
  display: flex;
  height: 100vh;

  .created-successfully-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.create-content {
  height: 100vh;
  display: flex;

  .form-buttons-container {
    align-items: center;
  }

  h3 {
    text-align: center;
  }
}
