<ion-header>
  <filmder-toast></filmder-toast>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button (click)="navigate('/tabs/tab2/create')">Back</ion-button> -->
      <ion-back-button
        (click)="navigate('/tabs/tab2/create')"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  {{ showApiMessage$ | async }}
  <div class="" [ngSwitch]="currentScreen$ | async">
    <div class="create-content" *ngSwitchCase="'create'">
      <div
        *ngIf="!(showSpinner$ | async); else showSpinnerTemplate"
        class="w100 m-auto d-flex d-column form-buttons-container"
      >
        <h3 class="p-b-20"><b>Fast match</b></h3>
        <ion-list>
          <form [formGroup]="fastMatchForm">
            <ion-item class="p-l-15">
              <div class="m-r-10 fw-600">Category</div>
              <ion-select
                class="w100"
                formControlName="gameMode"
                value="brown"
                okText="Ok"
                cancelText="Cancel"
              >
                <ion-select-option
                  *ngFor="let gameMode of gameModes$ | async"
                  [value]="gameMode.value"
                  >{{ gameMode.name }}</ion-select-option
                >
              </ion-select>
            </ion-item>

            <ion-item class="p-l-15">
              <div class="m-r-10 fw-600">Matches limit</div>

              <ion-input
                type="number"
                min="1"
                max="5"
                formControlName="matchLimit"
                placeholder="1-5"
              ></ion-input>
            </ion-item>

            <ion-item class="p-l-15">
              <div class="m-r-10 fw-600">Guest</div>

              <ion-input
                formControlName="guestUsername"
                placeholder="Your friend username"
              ></ion-input>
            </ion-item>
          </form>
        </ion-list>
        <ion-button
          (click)="createGame()"
          [disabled]="(fastMatchForm.statusChanges | async) === 'INVALID'"
          >Create
        </ion-button>
      </div>
    </div>
    <div *ngSwitchCase="'success'">
      <div class="created-successfully-container">
        <div class="created-successfully-content">
          <h2>Invite sent</h2>
          <div>
            Game will start after user
            {{ fastMatchForm.value.guestUsername }} accept your invite
          </div>
          <ion-button (click)="navigate('/tabs/tab1')"
            >Check current games</ion-button
          >
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'error'">
      <div class="created-successfully-container">
        <div class="created-successfully-content">
          <h2>Sorry</h2>
          <div>Third party API error</div>
          <div>Please try again</div>
          <ion-button (click)="navigate('/tabs/tab2/create')"
            >Create</ion-button
          >
        </div>
      </div>
    </div>
  </div>

  <filmder-picker></filmder-picker>
</ion-content>

<ng-template #showSpinnerTemplate>
  <div class="h100 w100 d-flex d-column d-middle">
    <div class="m-auto d-flex d-column d-middle">
      <ion-spinner name="crescent"></ion-spinner>
      <div *ngIf="showApiMessage$ | async">
        Oops. "Looks like problems with third party API...
      </div>
    </div>
  </div>
</ng-template>
