<ion-header>
  <filmder-toast></filmder-toast>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button (click)="navigate('/tabs/tab2/create')">Back</ion-button> -->
      <ion-back-button
        (click)="navigate('/tabs/tab2/create')"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div [ngSwitch]="currentScreen$ | async">
    <div class="m-t-40 d-flex" *ngSwitchCase="'create'">
      <div class="w100 m-auto d-flex d-c-flex form-buttons-container">
        <ion-list>
          <form [formGroup]="fastMatchForm">
            <ion-item class="p-l-15">
              <div class="m-r-10 fw-600">Category</div>
              <ion-select
                formControlName="gameMode"
                value="brown"
                okText="Okay"
                cancelText="Dismiss"
              >
                <ion-select-option
                  *ngFor="let gameMode of gameModes$ | async"
                  [value]="gameMode.value"
                  >{{ gameMode.name }}</ion-select-option
                >
              </ion-select>
            </ion-item>

            <ion-item class="p-l-15">
              <div class="m-r-10 fw-600">Matches limit</div>

              <ion-input
                type="number"
                min="1"
                max="25"
                formControlName="matchLimit"
                placeholder="1-25"
              ></ion-input>
            </ion-item>

            <ion-item class="p-l-15">
              <div class="m-r-10 fw-600">Guest</div>

              <ion-input
                formControlName="guestUsername"
                placeholder="Your friend username"
              ></ion-input>
            </ion-item>
          </form>
        </ion-list>
        <!-- TODO: create straightforward validator for disabling the button -->
        <ion-button
          (click)="createGame()"
          [disabled]="(fastMatchForm.statusChanges | async) === 'INVALID'"
          >Create
        </ion-button>
      </div>
    </div>
    <div *ngSwitchCase="'success'">
      <div class="created-successfully-container">
        <div class="created-successfully-content">
          <h2>Invite sent</h2>
          <div>
            Game will start after user
            {{ fastMatchForm.value.guestUsername }} accept your invite
          </div>
          <ion-button (click)="navigate('/tabs/tab1')"
            >Check current games</ion-button
          >
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'error'">
      <div class="created-successfully-container">
        <div class="created-successfully-content">
          <h2>Something went wrong</h2>
          <div>Oops, some error occurred...</div>
          <div>please try again</div>
          <ion-button (click)="navigate('/tabs/tab2/create')"
            >Create</ion-button
          >
        </div>
      </div>
    </div>
  </div>

  <filmder-picker></filmder-picker>
</ion-content>

<ng-template #createdSuccessfullyScreen> </ng-template>
